<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>


<h1>Stupid Coaching</h1>
<h3><%=params[:response]%></h3>

<h4>you</h4>

<h3><%=@coach%></h3>

<h4>Your coach</h4>

<a href="<%= link_to "Ask another question", ask_path %>
</a>







