<h1>Questions#answer</h1>
<p>Find me in app/views/questions/ask.html.erb</p>

<form action="/answer" method="get">
  <input type="text" name="response" placeholder="Question">
  <input type="submit">
</form>

